<div class="container">
    <div class="col">
        <h3 class="mt-3">Certificados Digitais</h3>
        <hr class="border border-danger border-2 opacity-50 linha-cabecalho">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Acesso do certificado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let certificado of certificados">
                <td>{{ certificado.titulo }}</td>
                <td>{{ certificado.plataforma }}</td>
                <td><a href="{{ certificado.url }}" class="" target="_blank" title="Acessar link">
                    <img src="/assets/link.png">
                </a></td>
            </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="mudarPagina()"
            class="paginacao"
        >
        </ngb-pagination>
    </div>
    
</div>

