.linha-cabecalho {
    border-color: #191919 !important;
    height: 0.1px;
}

.pagination {
    background-color: #cbe65b !important;
}

.img-foto-perfil {
    border-radius: 50%;
    margin-top: 1rem;
    vertical-align:middle;
}

.p-texto {
    margin-top: 1rem;
    text-align: justify;
    display:inline-block; margin-left:10px; vertical-align:middle;
}