.navbar {
    background-color: #191919;
}

.titulo-nome {
    padding-left: 2rem;
}

.pesquisar-titulo-desktop {
    display: inline-block;
}

@media screen and (max-width: 900px) {
    .pesquisar-titulo-mobile {
        display: inline-block;
    }
    .pesquisar-titulo-desktop {
        display: none;
    }
}