<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a [href]="" class="navbar-brand text-light">
      <span class="titulo-nome">Gabriel Araújo</span>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a [href]="urlHome" class="nav-link text-light">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="" fragment="sobre" class="nav-link text-light">Sobre</a>
        </li>
        <li class="nav-item">
          <a routerLink="" fragment="certificados" class="nav-link text-light">Certificados</a>
        </li>
        <li class="nav-item">
          <a routerLink="" fragment="informacao" class="nav-link text-light">Mais informações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
