<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a [href]="urlHome" class="navbar-brand text-light d-none d-sm-block">Home</a>
      <div class="col mb-2 d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block d-xl-none">
        <a [href]="urlHome" class="navbar-brand">
        <img src="/assets/home.png" />
      </a>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar certificado ..." aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>